<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Key" connectionString="server=localhost;User Id=root;password='';port=3306;database=inventory;Pooling=false;Connection Lifetime=0;connection timeout=10000; default command timeout=1000;" />
  </connectionStrings>
</configuration>